tutorial/
venv/
.vscode/
__pycache__/
old_data/
input_files/1a1u.pdb
input_files/get_chains.R
input_files/**/*.zip
input_files/**/*.tar
input_files/**/*.tar.gz
input_files/**/*.tgz
input_files/**/*.tar.bz2
input_files/**/*.tbz2
input_files/**/*.tar.xz
input_files/**/*.txz
input_files/**/*.gz
input_files/**/*.bz2
input_files/**/*.xz
input_files/**/*.7z
input_files/**/*.rar
!input_files/**/dms.zip
uninstall.txt
.venv-originale/
.venv-ottimizzato/
.DS_Store
useful_commands.txt